.landing
    font-family: 'Amaranth', sans-serif

    &__title
        color: white
        font-size: 4rem
        text-shadow: .2rem -.2rem .2rem #192fbf
        font-style: italic
        margin-right: 4rem

    &__subtitle
        color: white
        font-size: 2rem
        text-shadow: .2rem -.2rem .2rem #192fbf
        font-style: italic
        margin-left: 4rem

    

    &__options
        color: white
        font-size: 1rem
        text-shadow: .1rem -.1rem .1rem #192fbf

a 
    text-shadow: none


